---
import Categories from '@/components/Categories.astro'
import PostList from '@/components/PostList.astro'
import Divider from '@/components/ui/Divider.astro'
import Section from '@/components/ui/Section.astro'
import Title from '@/components/ui/Title.astro'
import Pagination from '@/components/utils/Pagination.astro'
import site from '@/data/site'
import Layout from '@/layouts/Layout.astro'
import getPostsByCategory from '@/utils/getPostsByCategory'
import getUniqueCategories from '@/utils/getUniqueCategories'
import type { GetStaticPaths, Page } from 'astro'
import { getCollection, type CollectionEntry } from 'astro:content'

interface Props {
	page: Page<CollectionEntry<'posts'>>
	categoryName: string
}

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
	const allPosts = await getCollection('posts')
	const allCategories = getUniqueCategories(allPosts)

	return allCategories.flatMap((category) => {
		const filteredPosts = getPostsByCategory(allPosts, category.category)

		return paginate(filteredPosts, {
			params: { category: category.category },
			props: { categoryName: category.categoryName },
			pageSize: site.pagination
		})
	})
}

const posts = await getCollection('posts')
const categories = getUniqueCategories(posts)
const { page, categoryName } = Astro.props
---

<Layout seo={{ title: 'Category ' + categoryName }}>
	<Section>
		<header class="mb-2 flex flex-col">
			<Title>{categoryName}</Title>
		</header>
		<PostList posts={page.data} />
		<Pagination {page} />
	</Section>

	<Divider />

	<Section>
		<h2 class="text-3xl font-black">Other categories</h2>
		<Categories {categories} />
	</Section>
</Layout>
