---
import { getCollection } from 'astro:content'
import Layout from '@/layouts/Layout.astro'
import getPostsByCategory from '@/utils/getPostsByCategory'
import getPagination from '@/utils/getPagination'
import getUniqueCategories from '@/utils/getUniqueCategories'

export async function getStaticPaths() {
	const posts = await getCollection('posts')

	const categories = getUniqueCategories(posts)

	return categories.map(({ category, categoryName }) => {
		return {
			params: { category },
			props: { category, categoryName, posts }
		}
	})
}

const { category, categoryName, posts } = Astro.props

const postsByCategory = getPostsByCategory(posts, category)

const pagination = getPagination({
	posts: postsByCategory,
	page: 1,
	isIndex: true
})
---

<Layout seo={{ title: 'Category ' + categoryName }}>
	<!-- <CategoryPosts {...pagination} {category} {categoryName} /> -->
	<p>{category}</p>
	<p>{categoryName}</p>
</Layout>
