---

---

<div
	class:list={[
		'prose-base prose-gray text-pretty md:prose-lg prose-blockquote:border-l-8 prose-img:rounded prose-img:bg-gray-200',
		'dark:prose-h2:text-color-white dark:prose-a:text-color-white dark:prose-blockquote:border-l-color-white dark:prose-blockquote:text-color-white dark:prose-img:bg-gray-800',
	]}
>
	<slot />
</div>
