---
import type { MarkdownHeading } from 'astro'

const { headings } = Astro.props as { headings: MarkdownHeading[] }
// console.dir(headings)
// <h2 id={heading.slug}>{heading.text}</h2>
// MarkdownHeading[]
---

{
	headings.length > 0 && (
		<aside class="mb-14 border-y font-medium">
			<h4 class="font-bold">On this page</h4>
			<ul class="p-0">
				{headings.map((heading) => (
					<li class="hover:bg-color-black  m-0 transition-all duration-300 ease-in-out hover:text-white">
						<a class="p-2" href={`#${heading.slug}`}>
							{heading.text}
						</a>
					</li>
				))}
			</ul>
		</aside>
	)
}
