---
import { type CollectionEntry, getCollection } from 'astro:content'
// import TagPosts from '@/layouts/TagPosts.astro'
import getUniqueTags from '@/utils/getUniqueTags'
import getPostsByTag from '@/utils/getPostsByTag'
import getPageNumbers from '@/utils/getPageNumbers'
import getPagination from '@/utils/getPagination'
import Layout from '@/layouts/Layout.astro'
import Title from '@/components/ui/Title.astro'
import PostList from '@/components/PostList.astro'
import Section from '@/components/ui/Section.astro'

export interface Props {
	post: CollectionEntry<'posts'>
	tag: string
	tagName: string
}

export async function getStaticPaths() {
	const posts = await getCollection('posts')

	const tags = getUniqueTags(posts)

	return tags.flatMap(({ tag, tagName }) => {
		const tagPosts = getPostsByTag(posts, tag)
		const totalPages = getPageNumbers(tagPosts.length)

		return totalPages.map((page) => ({
			params: { tag, page },
			props: { tag, tagName }
		}))
	})
}

const { page } = Astro.params
const { tag, tagName } = Astro.props

const posts = await getCollection('posts', ({ data }) => !data.draft)

const postsByTag = getPostsByTag(posts, tag)

const pagination = getPagination({
	posts: postsByTag,
	page
})
---

<Layout seo={{ title: 'Tag ' + tagName }}>
	<!-- <TagPosts {...pagination} {tag} {tagName} /> -->
	<Section>
		<Title># {tagName}</Title>
		<PostList posts={postsByTag} />
	</Section>
</Layout>
