---
import Layout from '@/layouts/Layout.astro'
import Title from '@/components/ui/Title.astro'
import Section from '@/components/ui/Section.astro'
import Tags from '@/components/Tags.astro'
---

<Layout seo={{ title: 'Tags' }}>
	<main>
		<Section>
			<Title>Tags</Title>
			<Tags />
		</Section>
	</main>
</Layout>
