---
import Layout from '@/layouts/Layout.astro'
import Title from '@/components/ui/Title.astro'
import Section from '@/components/ui/Section.astro'
import Categories from '@/components/Categories.astro'
---

<Layout seo={{ title: 'Categories' }}>
	<main>
		<Section>
			<Title>Categories</Title>
			<Categories />
		</Section>
	</main>
</Layout>
