---
// https://docs.astro.build/en/guides/content-collections/#generating-routes-from-content
import {
	InferGetStaticParamsType,
	InferGetStaticPropsType,
	type GetStaticPaths,
	type Page
} from 'astro'
import { type CollectionEntry, getCollection } from 'astro:content'

import Pagination from '@/components/utils/Pagination.astro'
import Layout from '@/layouts/Layout.astro'
import { filterContent, getPostsByCategory, getAllCategories } from '@/utils/content'
import PostList from '@/components/PostList.astro'

// export const getStaticPaths: GetStaticPaths = async ({ category, paginate }) => {
export const getStaticPaths: GetStaticPaths = async () => {
	const posts = await getCollection('posts')
	// const filteredPosts = filterContent(posts)
	const uniqueCategories = [...new Set(posts.map((post) => post.data.category).flat())]
	console.log(uniqueCategories)

	const categories = getAllCategories(posts)
	// const posts = getPostsByCategory(category)
	// return paginate(posts, { pageSize: 3 })
	return {
		params: { category },
		props: { posts }
		// props: { posts: paginate(posts, { pageSize: 3 }) }
	}
}

// interface Props {
// 	page: Page<CollectionEntry<'posts'>>
// }
type Params = InferGetStaticParamsType<typeof getStaticPaths>
type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { category } = Astro.params as Params
// const { page } = Astro.props
const { posts } = Astro.props as Props
---

<Layout seo={{ title: 'Posts', description: 'Collection of posts' }}>
	<section class="my-8 grid gap-2">
		<h1 class="font-sans text-5xl font-black">Blog</h1>
		<p class="mb-12 text-pretty text-xl font-light">Everything you need to know about websites</p>
		<PostList {posts} />
		<!-- <Pagination {page} /> -->
	</section>
</Layout>
