---
import ComponentLayout from '../layouts/ComponentLayout.astro'

// const components = await Astro.glob('./*.astro')

// {
// 		components.map((component) => (
// 			<div>
// 				<component.default size={24} />
// 			</div>
// 		))
// }
---

<ComponentLayout seo={{ title: 'UI components' }} />
