---
import Layout from "@/components/Layout.astro"
---

<Layout seo={{ title: "Home" }}>
	<p>
		Do nulla ad dolor tempor occaecat qui dolore tempor laborum. Officia aute
		sit magna ullamco in consectetur non non fugiat proident enim.
	</p>
	<p>
		Veniam Lorem est dolor consectetur aliquip veniam deserunt laborum irure
		officia. Pariatur cillum cupidatat non consequat labore aute aute sunt culpa
		adipisicing. Dolore et est fugiat id eu.
	</p>
	<a href="/posts">View posts</a>
</Layout>
