---
import Layout from "@/components/Layout.astro"
---

<Layout>
	<p>Hello world!</p>
	<p>I'm a web developer from Sri Lanka.</p>
	<p>I'm a passionate about web development and design.</p>
	<p>I'm currently working as a freelancer.</p>
	<p>I'm also a big fan of open source.</p>
	<p>I'm also a big fan of the web.</p>
	<p>I'm also a big fan of the web.</p>
	<p>I'm also a big fan of the web.</p>
</Layout>
