---
import { ModeToggle } from './theme/ModeToggle'

// import Social from '@/components/Social.astro'
---

<footer
	class:list={[
		'border-font-color mt-8 flex w-full flex-row justify-between border-t py-4'
		// 'text-font-color bg-background-color border-font-color',
	]}
>
	<p>Built with Astro</p>
	<!-- <Social /> -->
	<!-- <ThemeIcon /> -->
	<ModeToggle client:load />
	<!-- <div>
		<button onclick="document.dispatchEvent(new CustomEvent('set-theme', { detail: 'light' }))">
			Light
		</button>
		<button onclick="document.dispatchEvent(new CustomEvent('set-theme', { detail: 'dark' }))">
			Dark
		</button>
		<button onclick="document.dispatchEvent(new CustomEvent('set-theme', { detail: null }))">
			Clear theme
		</button>
	</div> -->
</footer>
