---
import ThemeIcon from '@/components/theme/ThemeIcon.astro'
// import Social from '@/components/Social.astro'
---

<footer
	class:list={[
		'border-font-color mt-8 flex w-full flex-row justify-between border-t py-4'
		// 'text-font-color bg-background-color border-font-color',
	]}
>
	<p>Built with Astro</p>
	<!-- <Social /> -->
	<ThemeIcon />
</footer>
