---
import site from '@/data/site'
// import Navigation from '@/components/Navigation.astro'
import ResponsiveMenu from './ResponsiveMenu.astro'
---

<header class:list={['flex w-full flex-row justify-between', 'my-1 pb-4 sm:my-4']}>
	<a href="/">
		<h2
			class:list={[
				'border-2 border-color-black dark:border-color-white p-2 font-logo text-2xl font-black uppercase no-underline',
				'transition-all duration-300 ease-out',
				'text-color-black dark:text-color-white',
				'hover:bg-color-black hover:text-color-white',
				'dark:hover:bg-color-white dark:hover:text-color-black'
			]}
		>
			{site.title}
		</h2>
	</a>
	<ResponsiveMenu />
</header>
