---
import SITE from "@/data/site.json"
import Footer from "./Footer.astro"
import Header from "./Header.astro"
import TailwindIndicator from "./TailwindIndicator.astro"
import { type Props as SEOProps, SEO } from "astro-seo"
import { ViewTransitions } from "astro:transitions"

interface Props {
	seo?: SEOProps
}

const { seo } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<SEO
			title={seo?.title ?? SITE.title}
			description={seo?.description ?? SITE.description}
			extend={{
				meta: [{ name: "twitter:card", content: "summary" }],
			}}
			{...seo}
		/>
		<ViewTransitions />
	</head>
	<body
		class="prose p-6 h-screen flex flex-col items-start justify-between dark:bg-gray-900 dark:text-gray-100 dark:prose-invert dark:prose-dark dark:prose-headings:text-gray-100"
	>
		<Header />
		<main class="flex-grow">
			<slot />
		</main>
		<Footer />
		<TailwindIndicator align="right" />
	</body>
</html>
