---
import type { CollectionEntry, ContentCollectionKey } from 'astro:content'
import Card from '@/components/ui/Card.astro'

interface Props {
	posts: CollectionEntry<ContentCollectionKey>[]
}

const { posts } = Astro.props
---

<div class="grid grid-cols-1 gap-10 sm:gap-10 md:grid-cols-2 lg:grid-cols-3 xl:gap-12">
	{
		posts.map((post) => (
			// <article class="gap-8 text-xl">
			<Card post={post} />
			// </article>
		))
	}
</div>
