---
import Card from '@/components/ui/Card.astro'
import getPostsByCategory from '@/utils/getPostsByCategory'
import { getCollection } from 'astro:content'

interface Props {
	// posts?: CollectionEntry<ContentCollectionKey>[]
	category: string
}

const { category } = Astro.props
const posts = await getCollection('posts')
const filteredPosts = getPostsByCategory(posts, category)
console.dir(posts)
---

<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
	{category}
	{filteredPosts.map((post, key) => <Card post={post} featured={key == 0} />)}
</div>
