---
import { slugify } from '@/utils/content'
import Link from '@/components/ui/Link.astro'
// import { Icon } from 'astro-icon/components'
import { site } from '@/data/site'

interface Props {
	tags: string[] | undefined
}

const { tags } = Astro.props
---

{
	tags && (
		<ul class="flex flex-row gap-2 m-0 p-0">
			<!-- <Icon name="ri:price-tag-3-line" title="Tags" /> -->
			{tags.map((tag) => (
				<li class="inline">
					<Link
						size="sm"
						style="tag"
						class="text-sm uppercase"
						href={`/${site.urls.tags}/${slugify(tag)}`}
					>
						# {tag}
					</Link>
				</li>
			))}
		</ul>
	)
}
