---
// import '@/assets/styles/global.css'
import Footer from '@/components/Footer.astro'
import Header from '@/components/header/Header.astro'
import ThemeInit from '@/components/theme/ThemeInit.astro'
import TailwindIndicator from '@/components/utils/TailwindIndicator.astro'
import { site } from '@/data/site'
import '@fontsource-variable/inter'
import '@fontsource-variable/montserrat'
import SpeedInsights from '@vercel/speed-insights/astro'
import { SEO, type Props as SEOProps } from 'astro-seo'
import { ViewTransitions } from 'astro:transitions'

interface Props {
	seo?: SEOProps
}

const { seo } = Astro.props
---

<html lang={site.language}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<SEO
			title={seo?.title ?? site.title}
			description={seo?.description ?? site.description}
			openGraph={{
				basic: {
					title: seo?.title || site.title,
					type: 'website', // https://ogp.me/#types
					image: site.opengraph.image || '/open-graph.jpg'
				}
			}}
			{...seo}
		/>
		<ThemeInit />
		<!-- <Themes /> -->
		<ViewTransitions />
	</head>
	<body
		class:list={[
			// {
			// 	'[&_*]:outline [&_*]:outline-1 [&_*]:outline-red-300':
			// 		process.env.NODE_ENV === 'development'
			// },
			'container mx-auto flex h-dvh flex-col items-start justify-between p-6 font-sans transition-all duration-300 lg:p-10',
			'bg-color-white text-color-black',
			'dark:bg-color-black dark:text-color-white'
		]}
	>
		<Header />
		<main class="w-full flex-grow">
			<slot />
		</main>
		<!-- <EditLink /> -->
		<Footer />
		<TailwindIndicator align="right" />
		<SpeedInsights />
		<style is:global>
			* {
				border-color: var(--border-color-black);
			}
		</style>
	</body>
</html>
