---
import type { HTMLAttributes } from 'astro/types'
import { tv, type VariantProps } from 'tailwind-variants'

export const templateTV = tv({
  base: '',
  variants: {
    intent: {
      // primary: '',
      // outline: '',
      // inverted: ''
    },
    size: {
      // small: '',
      // medium: '',
      // large: ''
    },
  },
  defaultVariants: {
    // size: '',
    // intent: ''
  },
  compoundVariants: [{}],
})

export interface Props extends HTMLAttributes<'div'>, VariantProps<typeof templateTV> {}

const { intent, size, class: className, ...rest } = Astro.props
---

<div
  class={templateTV({ intent, size, className })}
  data-name="ui-template"
  {...rest}
>
  <slot />
</div>
